[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telepot = "*"
"bs4" = "*"
pyyaml = "*"
requests = "*"
babel = "*"
docopt = "*"
pytest-asyncio = "*"

[dev-packages]
black = ">=18.6b4"
mypy = "*"
 [pipenv]
 allow_prereleases = true
